/* Universal Styles */

html {
  font-size: 18px;
}

html,
body {
  margin: 0;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* App Styles */

.App {
  font-family: "Work Sans", sans-serif;
}

.App h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #5d4274;
  font-family: Rubik Bubbles, sans-serif;
  font-size: 2.8rem;
  color: #fff;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
}