.businessDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin-top: 1rem;
    margin-bottom: 27%;
    position: relative;
    z-index: 1;
  }
  
  .businessDetails {
    width: 25%;
    max-width: 385px;
    padding: 20px;
    border: 2px solid #5d4274;
    border-radius: 8px;
    background-color: #feecfd;
    height: 100%;
    min-width: 300px;
  }
  
  .imageContainer {
    height: 300px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
  }
  
  .imageContainer img {
    width: 100%;
  }
  
  .businessDetails h2 {
    font-size: 1.7rem;
    font-weight: 600;
    color: #5d4274;
    text-shadow: 0rem 0.1rem 0rem #000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .details {
    display: flex;
  }
  
  .address {
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categoryRatingReviewContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  .categoryRatingReviewContainer h3 {
    color: #cca353;
    margin: 0;
    font-weight: 600;
  }

  .address p, .categoryRatingReviewContainer p {
    margin: 0.3px 0; 
}

.troughChefImageContainer {
    position: absolute;
    top: calc(45.5% + 1rem);
    left: 54.2%; /* Center the image horizontally */
    transform: translateX(-50%); /* Center the image horizontally */
    bottom: 0; 
    width: 100%; 
    max-width: 400px;
}

.troughChefImage {
    width: 138%;
    height: auto;
}

.ReturnToBusinessesContainer {
  text-align: center;
  margin-bottom: 15px;
}

.ReturnToBusinessesLink {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.ReturnToBusinessesLink:hover {
  text-decoration: underline;
}

.Loading {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 25%;
  font-size: 30px;
}

@media only screen and (max-height:1300px) {
  .troughChefImageContainer {
    top: calc(34.8% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1250px) {
  .troughChefImageContainer {
    top: calc(37.5% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1200px) {
  .troughChefImageContainer {
    top: calc(37.5% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1150px) {
  .troughChefImageContainer {
    top: calc(40% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1100px) {
  .troughChefImageContainer {
    top: calc(41% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1060px) {
  .troughChefImageContainer {
    top: calc(43% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:1010px) {
  .troughChefImageContainer {
    top: calc(45.5% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:990px) {
  .troughChefImageContainer {
    top: calc(46.5% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:960px) {
  .troughChefImageContainer {
    top: calc(46.8% + 1rem);
    left: 53.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:910px) {
  .troughChefImageContainer {
    top: calc(51.4% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }

  .imageContainer {
    margin-bottom: 0.9rem;
  }
}

@media only screen and (max-height:860px) {
  .troughChefImageContainer {
    top: calc(53.7% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }

  .imageContainer {
    margin-bottom: 0.2rem;
  }
}

@media only screen and (max-height:800px) {
  .troughChefImageContainer {
    top: calc(56.8% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:750px) {
  .troughChefImageContainer {
    top: calc(59.8% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:700px) {
  .troughChefImageContainer {
    top: calc(62.8% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:650px) {
  .troughChefImageContainer {
    top: calc(67.4% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-height:600px) {
  .troughChefImageContainer {
    top: calc(76.4% + 1rem);
    left: 54.2%; /* Center the image horizontally */
  }
}

@media only screen and (max-width: 1195px) {

  .troughChefImageContainer {
    top: calc(59.7% + 1rem);
    bottom: 2rem; 
  }

  .ReturnToBusinessesContainer {
    margin-top: 18rem;
    margin-bottom: 1rem; 
  }
}

@media only screen and (max-width: 760px) {

  .businessDetailsContainer {
    justify-content: left;
  }

  .imageContainer {
    height: 150px;
  }

  .troughChefImageContainer {
    top: calc(44% + 1rem);
    left: 58%;
    bottom: 2rem; 
    width: 300px;
  }

  .ReturnToBusinessesContainer {
    margin-top: 18rem;
    margin-bottom: 1rem; 
  }
}

@media only screen and (max-width: 560px) {

  .imageContainer {
    height: 100px;
  }

  .troughChefImageContainer {
    top: calc(35.8% + 1rem);
    left: 59%;
    bottom: 2rem; 
    width: 250px;
  }
}
  