.businessDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .businessDetails {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 100%;
  }
  
  .imageContainer {
    height: 300px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
  }
  
  .imageContainer img {
    width: 100%;
  }
  
  .businessDetails h2 {
    font-size: 1.7rem;
    font-weight: 600;
    color: #e2b2dc;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .details {
    display: flex;
  }
  
  .address {
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categoryRatingReviewContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  .categoryRatingReviewContainer h3 {
    color: #cca353;
    margin: 0;
    font-weight: 600;
  }

  .address p, .categoryRatingReviewContainer p {
    margin: 0.3px 0; 
}
  
  .ReturnToBusinessesContainer {
    margin-top: 10px;
    text-align: center;
  }
  
  .ReturnToBusinessesLink {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .ReturnToBusinessesLink:hover {
    text-decoration: underline;
  }
  